*,
:root {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(48, 42, 42);
}

canvas {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  background-color: rgb(170, 109, 109);
  border-radius: 5px;
}
